<html>
<head>
  <title>Imgur App With React</title>
  <style media="screen">
  * {
    box-sizing: border-box; }

  body {
    background: #fff;
    font-family: "Helvetica Neue", serif; }

  .gallery-app {
    margin: 0 auto;
    max-width: 1200px;
    width: 95%; }

  .gallery-img {
    background: gray;
    margin: 5px;
    padding: 5px; }
    .gallery-img--thumb img {
      height: 180px;
      width: 180px; }
    .gallery-img p {
      width: 180px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis; }

  .gallery-container {
    display: flex;
    flex-flow: row wrap; }

  </style>
</head>
  <body>

  <div id="js-main" class="gallery-app"></div>

  <%- body %>

  <% if (env.production) { %>
    <script async src="<%= env.assets.main.js %>"></script>
  <% } else { %>
    <script src="http://localhost:3000/client/main.js"></script>
  <% } %>
  </body>
</html>
