<html>
<head>
  <title>Imgur App With React</title>
</head>
  <body>

  <div id="js-main" class="gallery-app"></div>

  <%- body %>

  <% if (env.production) { %>
    <script async src="<%= env.assets.main.js %>"></script>
  <% } else { %>
    <script src="http://localhost:3000/client/main.js"></script>
  <% } %>
  </body>
</html>
